* { box-sizing: border-box; }

*::-moz-selection {
  background-color: #d11e26;
  color: #fff;
}
*::selection {
  background-color: #d11e26;
  color: #fff;
}

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, address, cite,
del, em, img, ins, q, samp,
small, strong, sub, sup,
dl, dt, dd, ol, ul, li,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  font-family: 'Courior New', Courior, monospace;
  font-size: 18px;
  color: #000;
  overflow-x: hidden;
}

main {
  position: relative;
  overflow: hidden;
  width: 100vw;
}

img {
  display: block;
}

a:link,
a:visited,
a:focus {
  color: #194baf;
}

ul {
  padding-left: 30px;
}

ul li + li {
  margin-top: 0.75em;
}

iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

iframe + p {
  margin-top: 1em;
  text-align: center;
  font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h2 { font-size: 3em; }
h3 { font-size: 2.5em; }
h4 { font-size: 2em; }
h5 { font-size: 1.5em; }
h6 { font-size: 1.25em; }

h1, h2, h3, h4, h5, h6 { padding: 0 1ch; }
p { padding: 0 0.75ch; }

p + p { margin-top: 1em; }

ul + * { margin-top: 2em; }

em { font-style: italic; }
strong { font-weight: 700; }

small { font-size: 0.85em; }

svg { max-width: 100vw; }

footer,
header {
  grid-column: 1 / span 12;
  position: relative;
  z-index: 10;
}

main > header {
  margin: 0.25em 0;
}

main > header h1 {
  font-size: 0px;
  line-height: 0;
}

main > header .subtitle {
  text-align: right;
  margin-top: 0.25em;
}

main > header iframe {
  margin-top: 1em;
}

main > footer {
  text-align: center;
  grid-row: 34;
  margin-top: 4em;
  margin-bottom: 2em;
}

.small { font-size: 0.5em; }

.sub-heading {
  font-size: 1.5em;
  text-align: center;
}

.circle {
  -webkit-shape-outside: circle();
  shape-outside: circle();
}

.synopsis {
  grid-column: 2;
  grid-row: 3;
}

.splatter1 {
  position: absolute;
  z-index: -1;
  top: -20em;
}

.gwen-image {
  shape-outside: url(_svgs/gwen.svg);
}

.vicky-image {
  shape-outside: url(_svgs/vicky.svg);
}

.ooley-image {
  shape-outside: url(_svgs/ooley.svg);
  width: 15em;
}

.hector-image {
  shape-outside: url(_svgs/hector.svg);
}

.dick-image {
  shape-outside: url(_svgs/dick.svg);
}

.city-image {
  shape-outside: url(_svgs/city.svg);
}

.characters {
  grid-row: 10 / span 15;
  grid-column: 3 / span 8;
}

.character::after {
  display: table;
  content: "";
  clear: both;
}

.character + .character {
  margin-top: 2em;
}

.character {
  display: flex;
  flex-flow: column wrap;
}

.character h3 {
  order: 1;
}

.character svg {
  order: 2;
  margin-bottom: 1em;
}

.character p {
  order: 3;
}

.cast {
  grid-column: 3 / span 8;
  grid-row: 26 / span 5;
}

.contact {
  grid-column: 3 / span 8;
  grid-row: 31 / span 2;
}

.social-links {
  margin: 1.75em 0;
  padding: 0 2ch;
  grid-column: 4 / span 6;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.social-header {
  margin-top: 0;
  flex: 0 0 100%;
  text-align: center;
}

.social-link {
  line-height: 1.6;
  font-size: 1.5em;
}

.cast__list h3 {
  margin-top: 0;
  font-size: 1.5em;
  font-weight: 700;
}

.cast__list--emphasis {
  list-style-type: none;
  font-size: 1.25em;
}

.bios {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.bio {
  flex: 0 1 48%;
}

@media screen and (min-width: 38em) {
  main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  main > header .subtitle {
    margin-right: 2ch;
    font-size: 1.5em;
  }

  h1, h2, h3, h4, h5, h6,
  .social-links,
  p { padding: 0; }

  ul {
    padding-left: 0px;
  }

  section svg {
    width: 25em;
  }

  .splatter1 {
    top: -16em;
  }

  .synopsis {
    grid-column: 4 / span 6;
  }

  .cast__list {
    column-count: 2;
    column-gap: 5ch;
  }

  .align-left,
  .align-right {
    shape-margin: 1em;
  }

  .align-left {
    display: block;
    float: left;
    margin-right: 1em;
  }

  .align-right {
    display: block;
    float: right;
    margin-left: 1em;
  }
}

@media screen and (min-width: 75em) {
  .character {
    display: block;
  }
}
